:root {
    --cor-primaria: #167CC2;
    --cor-secundaira: #2C678F;
    --cor-terciaria: #76fd08;

    --cor-fonte-principal: #242D33;
}
body {
    background-color: var(--cor-primaria);
    height: 100vh;
    color: var(--cor-fonte-principal);
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav{

    display: flex;
    gap: 50px;
}

.titulo__distaque {
    color: var(--cor-terciaria);
}

.pe {
    
    display: flex;
    justify-content: space-around;
    padding: 40px 23px ;
    font-size: 20px;
    font-weight: 200;
}
main{
    height: 60vh;
}
   
   


    
